<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% if current_page_no < 5 %}
      <h1>フォームA検査{{current_page_no}}【例題】</h1>
    {% else %}
      <h1>フォームB検査{{current_page_no_formB}}【例題】</h1>
    {% endif %}  
    <h2>本場画面の例題説明をよく読んで設問へ進んでください。</h2>
    <p>例題1を見てください～</p>

    <h2>例題1</h2>

    <div class="reidai">  
      <form class= "mondai">
        <img src="https://1.bp.blogspot.com/-zEKEpGCVUco/Ws2vxslzKaI/AAAAAAABLYM/B67RdLxkdkA8mylXhM8QGhXEnYxlJ-nLgCLcBGAs/s800/pose_happy_businessman_guts.png" width=5% class="radio_image">
        <img src="https://1.bp.blogspot.com/-zEKEpGCVUco/Ws2vxslzKaI/AAAAAAABLYM/B67RdLxkdkA8mylXhM8QGhXEnYxlJ-nLgCLcBGAs/s800/pose_happy_businessman_guts.png" width=5% class="radio_image">
        <img src="https://1.bp.blogspot.com/-zEKEpGCVUco/Ws2vxslzKaI/AAAAAAABLYM/B67RdLxkdkA8mylXhM8QGhXEnYxlJ-nLgCLcBGAs/s800/pose_happy_businessman_guts.png" width=5% class="radio_image">
        <img src="https://1.bp.blogspot.com/-zEKEpGCVUco/Ws2vxslzKaI/AAAAAAABLYM/B67RdLxkdkA8mylXhM8QGhXEnYxlJ-nLgCLcBGAs/s800/pose_happy_businessman_guts.png" width=5% class="radio_image">     
      </form>

      <p>例題2を見てください～</p>

      <h2>例題2</h2>

        <form class= "mondai">
          <img src="https://1.bp.blogspot.com/-zEKEpGCVUco/Ws2vxslzKaI/AAAAAAABLYM/B67RdLxkdkA8mylXhM8QGhXEnYxlJ-nLgCLcBGAs/s800/pose_happy_businessman_guts.png" width=5% class="radio_image">
          <img src="https://1.bp.blogspot.com/-zEKEpGCVUco/Ws2vxslzKaI/AAAAAAABLYM/B67RdLxkdkA8mylXhM8QGhXEnYxlJ-nLgCLcBGAs/s800/pose_happy_businessman_guts.png" width=5% class="radio_image">
          <img src="https://1.bp.blogspot.com/-zEKEpGCVUco/Ws2vxslzKaI/AAAAAAABLYM/B67RdLxkdkA8mylXhM8QGhXEnYxlJ-nLgCLcBGAs/s800/pose_happy_businessman_guts.png" width=5% class="radio_image">
          <img src="https://1.bp.blogspot.com/-zEKEpGCVUco/Ws2vxslzKaI/AAAAAAABLYM/B67RdLxkdkA8mylXhM8QGhXEnYxlJ-nLgCLcBGAs/s800/pose_happy_businessman_guts.png" width=5% class="radio_image">        
        </form>
      </div>
      
      <p>それでは「設問へ」のボタンを押して、1問目の問題から始めてください</p>
      <!-- <a class="next" href="/cattell/test/1">設問へ</a> -->
      <a class="next" href="/cattell/test/1">設問へ</a>
  </body>
</html>