<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% if current_page_no == 1 %}
      <h1>続いて、知能検査（仮）を実施します。</h1>
      <h1>「次へ」ボタンを押してください。</h1>
      <a href="/cattell/detail/2">次へ</a>
    {% endif %}

    {% if current_page_no == 2 %}
      <h1>検査説明</h1>
      <ul>
          <li>本検査は4種類～</li>
          <li>各検査には～</li>
          <li>検査時間が終了すると～</li>
          <li>それぞれの検査で~</li>
      </ul>
      <a href="/cattell/example/1">検査を開始する</a>
    {% endif %}
  </body>
</html>